---
import '@/styles/globals.css';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Тестовое задание">
	<main>
		Главная страница
		<p class="font-['Bebas_Neue_Cyrillic'] uppercase">Выберите подходящий тарифный план</p>
		<p class="font-['PT_Root_UI'] uppercase">Выберите подходящий тарифный план</p>
		<p class="font-['Rubik'] uppercase">Выберите подходящий тарифный план</p>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
	}
</style>
