---
import "@/styles/globals.css";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Content from "@/components/Content.astro";

const response = await fetch('https://t-pay.iqfit.app/subscribe/list-test');
const data = await response.json();

const prepareData = (data) => {
	return data.reduce((acc, d) => {
		acc[d.name] = acc[d.name] === undefined ? {} : acc[d.name];

		if (d.isPopular) {
			acc[d.name].priceDiscount = d.price;
		} else if (d.isDiscount) {
			acc[d.name].pricePopup = d.price;
		} else {
			acc[d.name].price = d.price;
		}

		return acc;
	}, {});
}

const contentData = prepareData(data);
---

<Layout title="Тестовое задание">
	<main class="h-screen grid grid-rows-[80px,1fr]">
		<Header />
		<Content contentData={contentData} />
	</main>
</Layout>