---
import { Checkbox } from "@/components/ui/checkbox";
import { Button } from "@/components/ui/button";
import { Image } from "astro:assets";
import promoImage from "@/assets/promo-materials/promo-with-gradient.png";

import type { preparedData} from "@/types/prepared-data";
import { PricePlan } from "@/components/PricePlan";

interface Props {
	contentData: preparedData
}

const { contentData } = Astro.props;
---

<div class="container mt-20 px-4 mx-auto">
	<div class="overflow-x-hidden">
		<h1 class="font-['Rubik'] uppercase font-bold text-2xl sm:text-3xl lg:text-[40px] mt-5 lg:mt-7 mb-5 lg:mb-24 sm:text-center">Выберите подходящий тарифный план</h1>
	</div>
	<div class="flex flex-col justify-center gap-x-20 lg:flex-row">
		<div class="image-container mx-auto w-[280px] lg:w-[434px] lg:mx-0">
			<Image
					class="h-[441px] w-[277px] md:h-auto md:w-auto"
					src={promoImage}
					alt="Промо изображение накаченного мужчины"
			/>
		</div>
		<div class="content-wrapper flex flex-col lg:w-[684px]">
			<PricePlan client:load data={contentData} />
			<p class="text-sm md:text-lg mb-[26px] font-medium">Следуя плану на 3 месяца, люди получают в 2 раза лучший результат, чем за 1 месяц</p>
			<div class="mb-[50px] flex items-center">
				<Checkbox id="terms" client:load className="mr-2" />
				<label for="terms" class="text-[#818798] cursor-pointer">Я соглашаюсь с <a href="#">Правилами сервиса</a> и условиями <a href="#">Публичной оферты</a>.</label>
			</div>
			<Button
			  id="submit-button"
				className="w-[281px] h-[76px] rounded-[60px] bg-[#FD4D35] font-['Rubik'] uppercase font-medium text-xl mb-[30px] will-change-transform"
			>Купить</Button>
			<p class="text-sm text-[#818798] mb-6">Нажимая «Купить», Пользователь соглашается на автоматическое списание денежных средств по истечению купленного периода. Дальнейшие списания по тарифам участвующим в акции осуществляются по полной стоимости согласно оферте.</p>
		</div>
	</div>
</div>

{/* GSAP animations -- Button */}
<script>
	const btn = document.querySelector("#submit-button")!;
	const scaleTween = gsap.to(btn, {
		repeat: -1,
		opacity: 0.5,
		scale: 1.03,
		duration: 0.7,
		yoyo: true,
		ease: "power3.in"
	});

	btn.addEventListener("mouseenter", () => scaleTween.pause());
	btn.addEventListener("mouseleave", ()=> scaleTween.restart());
</script>

{/* GSAP animations -- Content */}
<script>
	const container = document.querySelector(".container")!;
	const heading = container.querySelector("h1");
	const image = container.querySelector(".image-container");
	const content = container.querySelector(".content-wrapper");

	const tl = gsap.timeline({ defaults:{ opacity: 0, ease: "back" }});
	function init() {
		tl.from(container, { ease: "linear", autoAlpha: 0 })
			.from(heading, { x: -80, duration: 1.3 })
			.from(image, { y: 30, duration: 0.5 }, "-=0.2")
			.from(content, { y: 50, duration: 0.5 });
	}

	window.addEventListener("load", init);
</script>

<style>
	.container {
		visibility: hidden;

		@media (scripting: none) {
			visibility: visible;
		}
	}
</style>